.dis {
	width: 675px; 
	height: 100px; 
	text-align: center;
	background-color: white;
	font-size: 50px;

}
body{
	background-color: #a6f6f1;
}
input {
	width: 150px;
	height: 50px;
	font-size: 25px;
	border-radius: 5px;
	margin: 10px;
	background-color:#7579e7 ;
	color: black;
	border-style: none;

}

#calcForm {
	margin-left: 225px;
	margin-top: 20px;
	text-align: center;
}



h1 {
	text-align: center;
	font-size: 50px;
	margin-right: 150px;
	margin-top: 20px;
}

.plus {
	background-color: #ffa5a5;
}

.minus {
	background-color: #ffa5a5;
}

.times {
	background-color: #ffa5a5;
}

.divide {
	background-color: #ffa5a5;
}

.clear {
	background-color: #d7385e;
}

.equal {
	background-color: #03c4a1;
}